extends ../../layout/default.pug 
include ../chat/index.pug 

block sider-left 
    .nav-friends
        .box-head  
            h3 Bạn bè
            .box-search
                span(class="icon-search")
                    i(class="fa-solid fa-magnifying-glass")
                form(form-search)
                    input(type="text" placeholder="Search user")
        include ../../partials/box-nav
    .friends 
        each user in users   
            div(class="box-user" user-id=user.id)
                div(class="inner-avatar")
                    if(user.avatar)
                        img(
                        src=user.avatar
                        alt=user.fullName
                    )
                    else 
                        img(src="/images/avatar-default.jpg", alt=user.fullName)
                div(class="inner-info")
                    div(class="inner-name") 
                        span #{user.fullName}
                            span(class=`${user.statusOnline == "online" ? "bagde-active" : ""}` bagde-active) 
                    div(class="inner-buttons")
                        a(
                            class="btn btn-sm btn-primary mr-1"
                            btn-chat-friend=user.id
                            href=`/${user.room_chat_id}`
                        ) Nhắn tin
                        //- button(
                        //-     class="btn btn-sm btn-secondary mr-1"
                        //-     btn-cancel-friend=user.id
                        //- ) Hủy kết bạn
